<div class="container mt-3">
  <div class="row">
    <section class="col-3">
      <ng-container *ngIf="types && brands">
        <h5 class="text-warning ml-3 mt-4">Sort</h5>
        <select
          class="custom-select mb-3"
          (change)="onSortSelected($event.target.value)"
        >
          <option
            *ngFor="let sort of sortOptions"
            [selected]="shopParams.sort === sort.value"
            [value]="sort.value"
          >
            {{ sort.name }}
          </option>
        </select>
        <h5 class="text-warning ml-3">Brands</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let b of brands"
            [class.active]="b.id === shopParams.brandId"
            [value]="b.id"
            (click)="onBrandSelected(b.id)"
          >
            {{ b.name }}
          </li>
        </ul>
        <h5 class="text-warning ml-3">Types</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let t of types"
            [class.active]="t.id === shopParams.typeId"
            [value]="t.id"
            (click)="onTypeSelected(t.id)"
          >
            {{ t.name }}
          </li>
        </ul>
      </ng-container>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="productCount"
          [pageNumber]="shopParams.pageNumber"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>

        <div
          class="row row-cols-md-auto g-3 align-items-center"
          *ngIf="products"
        >
          <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupSearch"
              >Search</label
            >
            <div class="input-group">
              <div class="input-group-text">@</div>
              <input
                type="text"
                class="form-control"
                id="inlineFormInputGroupSearch"
                placeholder="Search"
                #search
                (keyup.enter)="onSearch()"
              />
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-outline-primary mb-2" (click)="onSearch()">
              Search
            </button>
            <button class="btn btn-outline-secondary mb-2" (click)="onReset()">
              Reset
            </button>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <div
        *ngIf="productCount && productCount > 0"
        class="d-flex justify-content-center"
      >
        <app-pager
          [totalCount]="productCount"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
